.form-group {
  background-image: url("https://www.worldatlas.com/r/w728-h425-c728x425/upload/9a/4b/e2/shutterstock-625793264.jpg");
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-brand {
  text-align: center;
}
